<!-- reset password email template: do not replace %these_values% -->
<table width="100%" border="0" cellpadding="10" cellspacing="0">
    <tr>
        <td align="center" bgcolor="#ecf0f5">
            <a href="%app_url%"><img src="cid:logoimg" alt="%app_name%"/></a>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ecf0f5">
            <table width="80%" border="0" align="center" cellspacing="0" cellpadding="20">
                <tr>
                    <td bgcolor="#FFFFFF">
                        %translate_someone_requested_pwd_reset_1%<br>
                        %translate_username%: <strong>%username%</strong>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF">
                        %translate_someone_requested_pwd_reset_2%
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF">
                        %translate_someone_requested_pwd_reset_3%
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF">
                        <a style="padding:10px 20px; background:#64a4b7; color:#fff; font-weight:bold; text-decoration:none;" href="%tok%">
                            %translate_reset_password%
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>